* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  margin: 80px auto;
  background: #e7e5e5;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.main{
  display: flex;
  align-items: center;
  justify-content: end;
}

h2 {
  margin-bottom: 20px;
}

input {
  padding: 10px; 
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: #15ae43;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #09c34d;
}

.result {
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
}
